*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

font-family:'Montserrat',sans-serif;

background-color:#1438a6

}

.container{

width:390px;
height:844px;

display:flex;
flex-direction:column;

position:relative;

overflow:hidden;

}

.header{

display:flex;
align-items:center;
gap:12px;

padding:20px;

color:white;

}

.perfil img{

width:45px;
height:45px;

border-radius:50%;

}

.saudacao h2{

font-size:18px;

}

.saudacao p{

font-size:13px;
opacity:0.8;
font-weight:600;

}

.conteudo{

background:white;

margin-top:10px;

flex:1;

border-top-left-radius:15px;
border-top-right-radius:15px;

padding:15px 0 90px 0; /* espaço para navbar */

box-shadow:0 -10px 30px rgba(0,0,0,0.15);

position:relative;

}

/* DESAFIO */

.desafio-card{

margin:10px 20px;

height:140px;

border-radius:18px;

background-image:url("../imagens/desafio-card.png");
background-size:cover;
background-position:center;

padding:15px;

display:flex;
flex-direction:column;
justify-content:flex-end;

animation:subir .6s ease;

}

.desafio-card button{

padding:10px 18px;

border:none;

border-radius:22px;

background:#1438a6;

color:#D8F459;

font-weight:600;

cursor:pointer;

transition:.2s;

}

.desafio-card button:active{

transform:scale(.95);

}

/* MATERIAS */

.materias{

padding:0 20px;

}

.titulo{

margin:15px 0;

font-size:17px;

font-weight:600;

}

.cards-materias{

display:flex;

gap:12px;

}

.card{

flex:1;

height:175px;

border-radius:18px;

padding:15px;

display:flex;
flex-direction:column;
justify-content:flex-end;

background-size:cover;

cursor:pointer;

transition:.2s;

}

.card:active{

transform:scale(.96);

}

.portugues{

background-image:url("../imagens/portugues-card.png");

}

.matematica{

background-image:url("../imagens/matematica-card.png");

}

.rodape span{

background:#0000002c;

padding:6px 10px;

border-radius:20px;

font-weight:600;

font-size:13px;

color:white;

}

.btnMateria{

border:none;

padding:6px 14px;

border-radius:20px;

background:#c7e432;

font-weight:600;

cursor:pointer;

}

.btnMateria:active{

transform:scale(.92);

}

/* TESTE RAPIDO */

.rapido{

padding:0 20px;

}

.card-rapido{

height:140px;

border-radius:18px;

padding:15px;

background-image:url("../imagens/rapido-card.png");
background-size:cover;

display:flex;
flex-direction:column;
justify-content:flex-end;

}

.card-rapido button{

padding:8px 14px;

border:none;

border-radius:20px;

background:white;

cursor:pointer;

font-weight:600;

color:#1438a6

}

.card-rapido button:active{

transform:scale(.95);

}

/* NAVBAR */

.navbar{

position:absolute;

bottom:0;
left:0;

width:100%;

height:80px;

background:#eee;

border-top-left-radius:20px;
border-top-right-radius:20px;

display:flex;
justify-content:space-around;
align-items:center;

z-index:10;

}

.nav-item{

background:none;
border:none;

display:flex;
flex-direction:column;
align-items:center;

cursor:pointer;

}

.nav-item img{

width:35px;

}
